%h2
  Recent Contacts:
%br
.list-group
  - @contacts.each do |contact|
    = link_to "Email: #{contact.email}",
      visitor_contact_path(contact.visitor.id, contact.id), class: 'list-group-item'

= will_paginate @contacts
