%h2
  Last accessed pages by
  %strong= @contact.email
%hr
- unless @visited_pages.blank?
  %h5
    %strong Last Activity:
    = @last_activity.strftime("%d/%m/%Y - %H:%M:%S")
  %br
  .list-group
    - @visited_pages.each do |visited_page|
      .list-group-item
        %h4
          %strong Page:
          = visited_page.page.capitalize
        %h5
          %strong Accessed at:
          = visited_page.accessed_at.strftime("%d/%m/%Y - %H:%M:%S")
- else
  %br
  %h3 None visited page..
